
a {
    padding: 2px 2px;
    margin: 2px;
    display: inline-block;
}

/*a:hover {*/
    /*background-color: #d5d5d5;*/
/*}*/

.menu {
    background-color: #e2e2e2;
    padding: 5px 5%;
    margin: 2px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
}

label {
    color: #a5a5a5;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.keyPhrase {
    padding: 10px 15px;
    margin: 2px;
    font-weight: bold;
}

.hint {

}